<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quiz.booking.dao.BookingMapper">
	<select id="selectBookingList" resultType="com.quiz.booking.domain.Booking">
		SELECT
			`id`
			,`name`
			,`headcount`
			,`day`
			,`date`
			,`phoneNumber`
			,`state`
			,`createdAt`
			,`updatedAt`
		FROM
			`booking`
	</select>
	
	<delete id="deleteBookingById" parameterType="int">
		DELETE
		FROM
			`booking`
		WHERE
			`id` = #{id}
	</delete>
	
	<insert id="insertBookingList" parameterType="map">
		INSERT INTO `booking`
		(
			`name`
			,`headcount`
			,`day`
			,`date`
			,`phoneNumber`
			,`state`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{name}
			, #{headcount}
			, #{day}
			, #{date}
			, #{phoneNumber}
			, "대기중" <!-- 추후 상태 변경 구문도 작성 -->
			, NOW()
			, NOW()
		)
	</insert>
	
	
	<select id="selectBookingByNameAndPhoneNumber" parameterType="map" resultType="com.quiz.booking.domain.Booking">
		SELECT
			`id`
			,`name`
			,`headcount`
			,`day`
			,`date`
			,`phoneNumber`
			,`state`
			,`createdAt`
			,`updatedAt`
		FROM
			`booking`
		WHERE
			`phoneNumber` = #{phoneNumber}
			AND `name` = #{name}
			<!-- 중복 시
			1) order by limit 이용해 최신 것 하나만 가져오는 방법
			2) list로 리턴이 될 수도 있는 상황 -->
	</select>
</mapper>