<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.quiz.lesson04.dao.RealtorMapper">
	<insert id="insertRealtor" parameterType="com.quiz.lesson04.domain.Realtor"
	useGeneratedKeys="true" keyProperty="id">
	<!-- Realtor에 세팅되는데 controller나 bo에서도 동일하게 세팅된다. 같은 주소 참조하므로 -->
		INSERT INTO `realtor`
		(
			`office`
			,`phoneNumber`
			,`address`
			,`grade`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{office}
			,#{phoneNumber}
			,#{address}
			,#{grade}
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="selectRealtorById" parameterType="int" resultType="com.quiz.lesson04.domain.Realtor">
		SELECT
			`id`
			,`office`
			,`phoneNumber`
			,`address`
			,`grade`
			,`createdAt`
			,`updatedAt`
		FROM
			`realtor`
		WHERE
			`id` = #{id}
	</select>
</mapper>